.App {
  text-align: center;
  color: gray;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  background-color: #505050;
  margin-top: 10%;
}

input {
  margin-right: 1%;
}

.friendcard {
  border: 1.5px solid black;
  margin: 5% 30%;
}

div.friendcard > button {
  margin-bottom: 3%;
}

p {
  color: white;
}

.friendfetch {
  margin-top: 1%;
}

h3 {
  margin-top: 2%;
}